.hero {
  height: 100%;
  width: 100%;
  margin-top: 250px;
}
#heroTitle {
  font-size: 48px;
}
#AnimatedHeading {
  font-size: 36px;
}
#heroParagraph {
  width: 75%;
}

.rigthImage {
  height: 420px;
  width: 500px;
  margin-top: -30px;
}

@media screen and (max-width: 640px) {
  .hero {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .rigthImage {
    display: none;
  }
  .hero .content {
    position: absolute;
    top: 20%;
    width: 100%;
  }
  #heroTitle {
    font-size: 36px;
  }
  #AnimatedHeading {
    font-size: 24px;
  }
  #heroParagraph {
    width: 100%;
  }
}

/* This Css Is related to Animated Headline */

.heading-container {
  display: inline-block;
  margin-bottom: 20px;
}

.word {
  display: inline-block;
  margin: 0 5px;
}
.containerHead {
  margin-left: -6px;
}
