#inputFeild {
  background-color: black;
  padding: 10px 20px;
  color: white;
  /* border: 1px solid #a7a7a7; */
}
.contactContainer {
  margin: 100px 0px;
}
/* contact.css */
.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
