@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  color: white;
}
body {
  background-color: black;
  height: 100vh;
}
h1,
h4,
p {
  color: #fff;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #4e65ff, #92effd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}
.btn-light {
  background: transparent;
  color: white;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
